
@import 'device';
@import 'color';
@import 'paper';
@import 'search-values';

.results {

  .result.airport {

    .title {

      .marker, .icao, .distance, .name {
        transition: color $sheet-anim ease;
      }

      .marker {
        box-sizing: content-box;

        display: block;
        position: absolute !important;
        
        top:  0;
        left: 0;
        
        width: 24px;
        height: 24px;

        padding: $sheet-padding * 1.5 $sheet-padding * 2;
        
        i {
          color: $primary-color;
        }
        
      }

      .icao {
        text-transform: uppercase;
        
        font-weight: bold;
        
        position: absolute;
        left: $menubutton-width;
      }

      .distance {
        color: rgba(black, 0.26);
        position: absolute;
        left: $menubutton-width;
        margin-left: 3em;
      }

      .name {
        color: rgba(black, 0.26);
        float: right;
      }

    }

    img {
      position: absolute;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
      margin: auto;
    }

    &.opened {

    }
    
  }
  
}

@media (max-width: $small) {
  .results .result.airport .title .marker {
    padding: $sheet-padding * 2.5 $sheet-padding * 2;
  }

}

@media (max-width: $mobile) {
  .results .result.airport .title .name {
    display: none;
  }
  
}