

@import 'device';

@import 'paper';

@import 'search-values';

#dropdown {

  position: absolute;
  top: $searchbar-height + $searchbar-offset;
  left: 0;

  box-sizing: content-box;
  
  padding: $sheet-padding;
  padding-top: 0;
  padding-left: $sheet-padding * 2;
  max-height: 100vh;
  
  width: 100%;

  z-index: 200;

  .results {

    position: relative;
    top: 0;
    width: 100%;

    transition: opacity $sheet-anim ease, top $sheet-anim ease;

    &.hidden {
      opacity: 0;
      top: -8px;
    }
    
    &.removed {
      opacity: 0;
      position: absolute;
      pointer-events: none;
      top: -16px;
    }
    
    ul {
      
      .result {

        display: block;
        @include sheet-middle();

        height: $result-height;

        .content {

          font-family: "Roboto Condensed";
          font-size: 14px;
          list-style-type: none;

          height: 100%;

          .title {

            background-color: white;
            
            z-index: 100;
            width: 100%;

            padding: $sheet-padding * 2 $sheet-padding * 2;

            height: $result-height;

            transition: background-color $sheet-anim ease, border-radius $sheet-anim ease;
            
          }

          .data {
            overflow: hidden;

            height: $image-height;
            width: 100%;

            > img {
              opacity: 0;

              transition: opacity 1s ease;
            }
            
            &.image-loaded img {
              opacity: 1;
            }
            
          }

        }

        &.top {
          margin-top: 10px;
          @include sheet-top();
        }
        
        &.bottom {
          @include sheet-bottom();
          
        }

        &.top.bottom {
          @include sheet();
          
          .data {
            border-radius: $sheet-radius;
          }

        }
        
        &.opened {
          @include sheet();
          margin: $sheet-padding 0;
          
          height: $image-height + $result-height;
          
          .title {
            border-radius: $sheet-radius $sheet-radius 0 0;
          }

          .data {
            border-radius: 0 0 $sheet-radius $sheet-radius !important;
          }

        }
        
      }

      :first-child {
        border-top: 0;
      }
      
      :last-child {
        @include sheet-bottom();
      }

    }

    &.no-results .text {
      display: block;
      padding-left: $menubutton-width - $sheet-padding * 2;
      font-style: italic;
    }
    
  }
  
  .results:not(.removed) + .results {
    margin-top: $sheet-padding;
  }

}


@media (max-width: $small) {
  
  #dropdown {
    padding: 0;
    left: 0;
    
    overflow-y: scroll;

    border-radius: 0 !important;
    
    .results {

      padding-bottom: $result-height-mobile * 2;

      .result {
        
        border-radius: 0 !important;
        
        margin: 0 !important;

        height: $result-height-mobile !important;
        
        .content {

          .title {
            padding-top: $sheet-padding * 3 !important;
            padding-bottom: $sheet-padding * 3 !important;
            
            height: $result-height-mobile !important;
          }
          
        }

        &.top .content {
          box-shadow: none !important;
        }
        
        &.opened .content {
          box-shadow: 0 -1px 0 #ccc !important;
        }
        
        &:after, .content, .title, .data {
          border-radius: 0 !important;
        }
        
        &.opened {
          height: $image-height + $result-height-mobile !important;
        }
        
      }
      
    }

    &.results-hidden {
      .results {
        opacity: 0;
        top: -8px;
      }
      
    }
    
  }

}

