
@import 'device';
@import 'paper';

@import 'search-values';
@import 'airport-result';

#search {
  
  position: absolute;
  
  top:  0;
  left: 0;

  padding-top:  $sheet-padding * 2;
  padding-left: $sheet-padding * 2;
  
  width: $searchbar-width;

  z-index: 1000;

  @import 'searchbar';

  @import 'dropdown';
  
  @import 'search-suggestions';

  &.dropdown-touching #searchbar {
    border-radius: $sheet-radius $sheet-radius 0 0;
  }

  &.dropdown-open #dropdown {
    border-radius: 0 0 $sheet-radius $sheet-radius;
  }
  
}

@media (max-width: $small) {
  #search {
    width: 100%;
    padding-right:  $sheet-padding * 2;
  }
}

@media (max-width: $mobile) {
  
  #search {

    padding: 0;
    
    #dropdown {
      
      border-radius: 0 !important;
      
      .results {

        .result {
          border-radius: 0 !important;

          &:after, .content, .title, .data {
            border-radius: 0 !important;
          }
          
          &.opened {
            margin: 0 !important;
          }
          
        }
        
      }
      
    }

  }
  
}

