
@import 'device';
@import 'paper';

@import 'search-values';
@import 'airport-result';

#search {
  
  position: absolute;
  
  top:  0;
  left: 0;

  width: $searchbar-width;

  z-index: 1000;

  @import 'searchbar';

  @import 'dropdown';
  
  @import 'search-suggestions';

  &.dropdown-touching #searchbar {
    border-radius: $sheet-radius $sheet-radius 0 0;
  }

  &.dropdown-open #dropdown {
    border-radius: 0 0 $sheet-radius $sheet-radius;
  }
  
}

@media (max-width: $small) {
  
  #search {

    padding: 0;
    width: 100%;

  }
    
}

