.button, .ripple {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  user-select: none;
  transition: background-color 0.1s ease; }
  .button:hover, .ripple:hover {
    cursor: pointer; }

#search {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 16px;
  padding-left: 16px;
  width: 480px;
  z-index: 100; }
  #search #searchbar {
    position: relative;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition: margin 0.3s ease, border-radius 0.3s ease, height 0.3s ease, border-color 0.3s ease;
    width: 100%;
    height: 40px;
    z-index: 500; }
    #search #searchbar .content {
      background-color: transparent;
      transition: border-radius 0.3s ease;
      box-shadow: none; }
    #search #searchbar:after {
      display: none; }
    #search #searchbar input {
      display: inline-block;
      position: absolute;
      top: 0;
      padding: 11px;
      padding-left: 56px;
      padding-right: 88px;
      width: 100%; }
    #search #searchbar .menu.button {
      box-sizing: content-box;
      background-color: white;
      border-radius: 4px 0 0 4px;
      display: inline-block;
      position: absolute;
      left: 0;
      height: 24px;
      padding: 8px 16px;
      z-index: 100; }
    #search #searchbar .search.button {
      box-sizing: content-box;
      background-color: white;
      border-left: 1px solid #ccc;
      border-radius: 0 4px 4px 0;
      display: inline-block;
      position: absolute;
      right: 0;
      height: 24px;
      padding: 8px 24px;
      z-index: 100; }
  #search #dropdown {
    position: relative;
    top: 0;
    box-sizing: content-box;
    width: 100%;
    z-index: 100; }
    #search #dropdown .results {
      position: relative;
      top: 0;
      width: 100%;
      transition: opacity 0.3s ease, top 0.3s ease; }
      #search #dropdown .results.hidden {
        opacity: 0;
        top: -8px; }
      #search #dropdown .results.removed {
        opacity: 0;
        position: absolute;
        top: 16px; }
      #search #dropdown .results ul .result {
        display: block;
        background-color: white;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.5);
        border-radius: 0;
        transition: margin 0.3s ease, border-radius 0.3s ease, height 0.3s ease, border-color 0.3s ease;
        position: relative;
        box-shadow: none;
        border-radius: 0;
        height: 48px; }
        #search #dropdown .results ul .result .content {
          background-color: transparent;
          transition: border-radius 0.3s ease;
          box-shadow: none; }
        #search #dropdown .results ul .result:after {
          display: none; }
        #search #dropdown .results ul .result .content {
          background-color: white;
          border-radius: 0;
          box-shadow: 0 -1px 0 #ccc;
          position: relative;
          overflow: hidden;
          z-index: 1000; }
        #search #dropdown .results ul .result:after {
          pointer-events: none;
          background-color: white;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.5);
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          width: 100%;
          height: 100%; }
        #search #dropdown .results ul .result .content {
          font-family: "Roboto Condensed";
          font-size: 14px;
          list-style-type: none;
          height: 100%; }
          #search #dropdown .results ul .result .content .title {
            background-color: white;
            position: absolute;
            z-index: 100;
            width: 100%;
            padding: 16px;
            transition: background-color 0.3s ease, border-radius 0.3s ease; }
          #search #dropdown .results ul .result .content .data {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
        #search #dropdown .results ul .result.top {
          border-radius: 4px 4px 0 0; }
          #search #dropdown .results ul .result.top:after {
            border-radius: 4px 4px 0 0; }
          #search #dropdown .results ul .result.top .content {
            border-radius: 4px 4px 0 0; }
        #search #dropdown .results ul .result.bottom {
          border-radius: 0 0 4px 4px; }
          #search #dropdown .results ul .result.bottom:after {
            border-radius: 0 0 4px 4px; }
          #search #dropdown .results ul .result.bottom .content {
            border-radius: 0 0 4px 4px; }
        #search #dropdown .results ul .result.top.bottom {
          background-color: white;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.5);
          border-radius: 4px;
          transition: margin 0.3s ease, border-radius 0.3s ease, height 0.3s ease, border-color 0.3s ease; }
          #search #dropdown .results ul .result.top.bottom .content {
            background-color: transparent;
            transition: border-radius 0.3s ease;
            box-shadow: none; }
          #search #dropdown .results ul .result.top.bottom:after {
            display: none; }
          #search #dropdown .results ul .result.top.bottom .data {
            border-radius: 4px; }
        #search #dropdown .results ul .result.opened {
          background-color: white;
          box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.5);
          border-radius: 4px;
          transition: margin 0.3s ease, border-radius 0.3s ease, height 0.3s ease, border-color 0.3s ease;
          margin: 8px 0;
          height: 320px; }
          #search #dropdown .results ul .result.opened .content {
            background-color: transparent;
            transition: border-radius 0.3s ease;
            box-shadow: none; }
          #search #dropdown .results ul .result.opened:after {
            display: none; }
          #search #dropdown .results ul .result.opened .title {
            border-radius: 4px 4px 0 0; }
      #search #dropdown .results ul :first-child {
        border-top: 0; }
      #search #dropdown .results ul :last-child {
        border-radius: 0 0 4px 4px; }
        #search #dropdown .results ul :last-child:after {
          border-radius: 0 0 4px 4px; }
        #search #dropdown .results ul :last-child .content {
          border-radius: 0 0 4px 4px; }
      #search #dropdown .results.no-results .text {
        display: block;
        padding-left: 40px;
        font-style: italic; }
    #search #dropdown .results:not(.removed) + .results {
      margin-top: 8px; }
  #search.dropdown-touching #searchbar {
    border-radius: 4px 4px 0 0; }
  #search.dropdown-open #dropdown {
    border-radius: 0 0 4px 4px; }

@media (max-width: 640px) {
  #search {
    width: 100%; } }
@media (max-width: 480px) {
  #search #searchbar input {
    padding-right: 16px; }
  #search #searchbar .search.button {
    display: none; }
  #search #dropdown .results.airports .name {
    display: none; } }

/*# sourceMappingURL=search.css.map */
